
<div class="header bg-gradient-dark pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="ram-gauge mx-auto d-block">
            <h5 id="headerTitle1" class="card-title text-uppercase text-center text-muted mb-0"></h5>
            <span id="headerDesc1" class="h2 font-weight-bold mb-0"></span>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="players-gauge mx-auto d-block">
            <h5 id="headerTitle2" class="card-title text-uppercase text-center text-muted mb-0"></h5>
            <span id="headerDesc2" class="h2 font-weight-bold mb-0"></span>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="tps-gauge mx-auto d-block">
            <h5 id="headerTitle3" class="card-title text-uppercase text-center text-muted mb-0"></h5>
            <span id="headerDesc3" class="h2 font-weight-bold mb-0"></span>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="none-gauge mx-auto d-block">
            <h5 id="headerTitle4" class="card-title text-center text-uppercase text-muted mb-0"></h5>
            <span id="headerDesc4" class="h2 font-weight-bold mb-0"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../includes/socketio') %>

<%- include('./gauge') %>