<div class="header bg-gradient-dark pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div id="headerDiv1" class="row">
                <div class="col">
                  <h5 id="headerTitle1" class="card-title text-uppercase text-muted mb-0">RAM Usage</h5>
                  <span id="headerDesc1" class="h2 font-weight-bold mb-0"><%- (process.memoryUsage().heapUsed / 1024 / 1024).toFixed(2) %> MB</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i id="headerIcon1" class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div id="headerDiv2" class="row">
                <div class="col">
                  <h5 id="headerTitle2" class="card-title text-uppercase text-muted mb-0"></h5>
                  <span id="headerDesc2" class="h2 font-weight-bold mb-0"><%- repoVersion %></span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i id="headerIcon2" class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div id="headerDiv3" class="row">
                <div class="col">
                  <h5 id="headerTitle3" class="card-title text-uppercase text-muted mb-0">Latest TPS</h5>
                  <span id="headerDesc3" class="h2 font-weight-bold mb-0"><%- latestTPS %></span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i id="headerIcon3" class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div id="headerDiv4" class="row">
                <div class="col">
                  <h5 id="headerTitle4" class="card-title text-uppercase text-muted mb-0">Player Amount</h5>
                  <span id="headerDesc4" class="h2 font-weight-bold mb-0"><%- playerAmount %></span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i id="headerIcon4" class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
