.server-name {
    overflow: hidden;
    width: calc(80%);
    white-space: nowrap;
    text-overflow: ellipsis;
}

.navbar {
    z-index: 999999999;
}

span svg {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 200px;
  }